In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/gapminder.tsv', sep ='\t')

In [3]:
df.head(2)

       country continent  year  lifeExp      pop   gdpPercap
0  Afghanistan      Asia  1952   28.801  8425333  779.445314
1  Afghanistan      Asia  1957   30.332  9240934  820.853030

In [5]:
subset_loc = df.loc[0]
subset_tail = df.tail(1)
subset_head = df.head(1)

print(subset_loc, "\n ===>")
print(subset_tail, "\n")

print(type(subset_loc))
print(type(subset_tail))
print(type(subset_head))

country      Afghanistan
continent           Asia
year                1952
lifeExp           28.801
pop              8425333
gdpPercap        779.445
Name: 0, dtype: object
 ===>
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [ ]:
'''
tail 메서드와 loc 속성이 반환하는 자료형은 서로 달라요 
'''