In [16]:
import pandas as pd

In [17]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [18]:
df.loc[['viper','sidewinder'],['shield']] =50
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [19]:
df.loc['cobra'] =10
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [20]:
df.loc[:,'max_speed'] = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [21]:
df.loc[df['shield']>35]=0
df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [14]:
df = pd.DataFrame([[1,2],[4,5],[7,8]],
                 index = [7,8,9], columns = ['max_speed','shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [15]:
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8