In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data./gapminder.tsv',sep ='\t')

In [4]:
small_range = list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [5]:
print(type(small_range))

<class 'list'>

In [6]:
df.head(3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [11]:
subset = df.iloc[:, small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [12]:
small_range = list(range(3,6))
print(small_range)

[3, 4, 5]

In [13]:
subset = df.iloc[:,small_range]
print(subset.head())

   lifeExp       pop   gdpPercap
0   28.801   8425333  779.445314
1   30.332   9240934  820.853030
2   31.997  10267083  853.100710
3   34.020  11537966  836.197138
4   36.088  13079460  739.981106

In [14]:
small_range = list(range(0,6,2))
subset = df.iloc[:,small_range]
print(subset.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460