In [2]:
import pandas

In [3]:
df = pandas.read_csv('./data./gapminder.tsv',sep ='\t')

In [4]:
print(df.groupby('year')['lifeExp'].mean())

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [8]:
df['year'].unique()

array([1952, 1957, 1962, 1967, 1972, 1977, 1982, 1987, 1992, 1997, 2002,
       2007], dtype=int64)

In [9]:
uniList = df['year'].unique()
print(type(uniList))
print(uniList,"\n ======>")

<class 'numpy.ndarray'>
[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]
 ======>

In [11]:
for idx in uniList:
    print(idx,"===========> : ")
    grYear = df[df['year'] == idx]
    print(len(grYear),"\n =========>\n:",grYear.head(3), "\n=======>:",grYear.shape)
    print(grYear["lifeExp"].mean())

1952 ===========> :
142
 =========>
:         country continent  year  lifeExp      pop    gdpPercap
0   Afghanistan      Asia  1952   28.801  8425333   779.445314
12      Albania    Europe  1952   55.230  1282697  1601.056136
24      Algeria    Africa  1952   43.077  9279525  2449.008185
=======>: (142, 6)
49.05761971830987
1957 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
1   Afghanistan      Asia  1957   30.332   9240934   820.853030
13      Albania    Europe  1957   59.280   1476505  1942.284244
25      Algeria    Africa  1957   45.685  10270856  3013.976023
=======>: (142, 6)
51.50740112676054
1962 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
2   Afghanistan      Asia  1962   31.997  10267083   853.100710
14      Albania    Europe  1962   64.820   1728137  2312.888958
26      Algeria    Africa  1962   48.303  11000948  2550.816880
=======>: (142, 6)
53.60924901408449
1967 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
3   Afghanistan      Asia  1967   34.020  11537966   836.197138
15      Albania    Europe  1967   66.220   1984060  2760.196931
27      Algeria    Africa  1967   51.407  12760499  3246.991771
=======>: (142, 6)
55.67828957746479
1972 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
4   Afghanistan      Asia  1972   36.088  13079460   739.981106
16      Albania    Europe  1972   67.690   2263554  3313.422188
28      Algeria    Africa  1972   54.518  14760787  4182.663766
=======>: (142, 6)
57.64738647887325
1977 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
5   Afghanistan      Asia  1977   38.438  14880372   786.113360
17      Albania    Europe  1977   68.930   2509048  3533.003910
29      Algeria    Africa  1977   58.014  17152804  4910.416756
=======>: (142, 6)
59.57015746478873
1982 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
6   Afghanistan      Asia  1982   39.854  12881816   978.011439
18      Albania    Europe  1982   70.420   2780097  3630.880722
30      Algeria    Africa  1982   61.368  20033753  5745.160213
=======>: (142, 6)
61.53319718309858
1987 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
7   Afghanistan      Asia  1987   40.822  13867957   852.395945
19      Albania    Europe  1987   72.000   3075321  3738.932735
31      Algeria    Africa  1987   65.799  23254956  5681.358539
=======>: (142, 6)
63.21261267605636
1992 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
8   Afghanistan      Asia  1992   41.674  16317921   649.341395
20      Albania    Europe  1992   71.581   3326498  2497.437901
32      Algeria    Africa  1992   67.744  26298373  5023.216647
=======>: (142, 6)
64.16033802816901
1997 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
9   Afghanistan      Asia  1997   41.763  22227415   635.341351
21      Albania    Europe  1997   72.950   3428038  3193.054604
33      Algeria    Africa  1997   69.152  29072015  4797.295051
=======>: (142, 6)
65.01467605633805
2002 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
10  Afghanistan      Asia  2002   42.129  25268405   726.734055
22      Albania    Europe  2002   75.651   3508512  4604.211737
34      Algeria    Africa  2002   70.994  31287142  5288.040382
=======>: (142, 6)
65.69492253521126
2007 ===========> :
142
 =========>
:         country continent  year  lifeExp       pop    gdpPercap
11  Afghanistan      Asia  2007   43.828  31889923   974.580338
23      Albania    Europe  2007   76.423   3600523  5937.029526
35      Algeria    Africa  2007   72.301  33333216  6223.367465
=======>: (142, 6)
67.00742253521126