In [1]:
'''
데이터 추출하기 - 슬라이싱 구문, range 메서드
1. 슬라이싱 구문으로 데이터 추출하기

'''

'\n데이터 추출하기 - 슬라이싱 구문, range 메서드\n1. 슬라이싱 구문으로 데이터 추출하기\n\n'

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('./data./gapminder.tsv',sep ='\t')

In [8]:
df.head(3)

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710

In [9]:
subset = df.loc[:,['year','pop']]
print(subset.head())

   year       pop
0  1952   8425333
1  1957   9240934
2  1962  10267083
3  1967  11537966
4  1972  13079460

In [7]:
subset = df.iloc[:,[2,4,-1]]
print(subset.head())

   year       pop   gdpPercap
0  1952   8425333  779.445314
1  1957   9240934  820.853030
2  1962  10267083  853.100710
3  1967  11537966  836.197138
4  1972  13079460  739.981106