In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/gapminder.tsv', sep='\t')

In [5]:
country_df = df['country']
print(type(country_df))

<class 'pandas.core.series.Series'>

In [6]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [7]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [11]:
subset = df[['country','continent','year']]
print(type(sudset))

<class 'pandas.core.frame.DataFrame'>

In [12]:
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [13]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [14]:
print(country_df)

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
5       Afghanistan
6       Afghanistan
7       Afghanistan
8       Afghanistan
9       Afghanistan
10      Afghanistan
11      Afghanistan
12          Albania
13          Albania
14          Albania
15          Albania
16          Albania
17          Albania
18          Albania
19          Albania
20          Albania
21          Albania
22          Albania
23          Albania
24          Algeria
25          Algeria
26          Algeria
27          Algeria
28          Algeria
29          Algeria
           ...
1674    Yemen, Rep.
1675    Yemen, Rep.
1676    Yemen, Rep.
1677    Yemen, Rep.
1678    Yemen, Rep.
1679    Yemen, Rep.
1680         Zambia
1681         Zambia
1682         Zambia
1683         Zambia
1684         Zambia
1685         Zambia
1686         Zambia
1687         Zambia
1688         Zambia
1689         Zambia
1690         Zambia
1691         Zambia
1692       Zimbabwe
1693       Zimbabwe
1694       Zimbabwe
1695       Zimbabwe
1696       Zimbabwe
1697       Zimbabwe
1698       Zimbabwe
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object