In [1]:
'''
열의 자료형 바꾸기와새로운 열추가
Born 과 Died열의 자료형을 확인해 보겠습니다


'''

'\n열의 자료형 바꾸기와새로운 열추가\nBorn 과 Died열의 자료형을 확인해 보겠습니다\n\n\n'

In [2]:
import pandas as pd

In [10]:
scientists =pd.read_csv('./data/scientists.csv')
ages = scientists['Age']

In [11]:
print(scientists['Born'].dtype)
print(scientists['Died'].dtype)

object
object

In [14]:
born_datetime = pd.to_datetime(scientists['Born'], format ='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [17]:
Died_datetime = pd.to_datetime(scientists['Died'], format ='%Y-%m-%d')
print(Died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [19]:
Died_datetime2 = Died_datetime - born_datetime

In [20]:
print(Died_datetime2)

0   0 days
1   0 days
2   0 days
3   0 days
4   0 days
5   0 days
6   0 days
7   0 days
Name: Died, dtype: timedelta64[ns]

In [26]:
scientists['born_dt'],scientists['Died_dt'] =(born_datetime, Died_datetime)
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1958-04-16
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1937-10-16
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1910-08-13
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1934-07-04
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1964-04-14

     Died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14

In [27]:
print(scientists.shape)

(8, 7)

In [28]:
scientists['age_days_dt'] = (scientists['Died_dt'] -scientists['born_dt'])
print(scientists.head())

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1958-04-16
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1937-10-16
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1910-08-13
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1934-07-04
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1964-04-14

     Died_dt age_days_dt
0 1958-04-16      0 days
1 1937-10-16      0 days
2 1910-08-13      0 days
3 1934-07-04      0 days
4 1964-04-14      0 days