In [2]:
import pandas as pd
import seaborn as sns

In [4]:
#titanic 데이터셋에서age,fare 2개 열을 선택하여 데이터프레임만들기

titanic = sns.load_dataset('titanic')
print(titanic.columns,"\n",titanic.shape)
df = titanic.loc[:,['age','fare']]
print(df.head(),'\n')
print(type(df),'\n')

#데이터프레임에 숫자 10 더하기
addition = df +10
print(addition.head(),'\n')
print(type(addition))

#
titanic = sns.load_dataset('titanic')
print(titanic.columns,"\n",titanic.shape)
df = titanic.loc[:,['age','fare']]
print(df.tail(),'\n')
print(type(df),'\n',df.shape)

#데이터프레임에 숫자 10 더하기
addition = df +10
print(addition.tail(),'\n')
print(type(addition))

#데이터 프레임끼리 연산하기(additon - df)
subtraction = addition -df
print(subtraction.tail(),'\n')
print(type(subtraction))

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
 (891, 15)
    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

<class 'pandas.core.frame.DataFrame'>

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500

<class 'pandas.core.frame.DataFrame'>
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
 (891, 15)
      age   fare
886  27.0  13.00
887  19.0  30.00
888   NaN  23.45
889  26.0  30.00
890  32.0   7.75

<class 'pandas.core.frame.DataFrame'>
 (891, 2)
      age   fare
886  37.0  23.00
887  29.0  40.00
888   NaN  33.45
889  36.0  40.00
890  42.0  17.75

<class 'pandas.core.frame.DataFrame'>
      age  fare
886  10.0  10.0
887  10.0  10.0
888   NaN  10.0
889  10.0  10.0
890  10.0  10.0

<class 'pandas.core.frame.DataFrame'>