In [26]:
import pandas as pd
#데이터프레임 df의 원소 여러 개를 변경하는 방법 :'서준'의 '음악','체육' 점수
exam_data ={'이름' : [ '서준','우현','인아'],
           '수학' : [90,80,70],
           '영어' : [98,89,95],
           '음악' : [85,95,100],
           '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df,'\n')

#'이름' 열을 새로운 인덱스로 지정하고, df객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df,'\n')

#데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육'점수

df.iloc[0][3] = 80
print(df,'\n')

df.loc['서준']['체육'] = 90
print(df,'\n')

df.loc['서준','체육'] = 100
print(df,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [28]:
# 데이터 프레임 df의 원소 여러 개를 변경하는 방법 : '서준'의 '음악' ,'체육' 점수
df.loc['서준',['음악','체육']] = 50
print(df,'\n')

df.loc['서준',['음악','체육']] = 100,50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90