In [1]:
import pandas as pd

In [3]:
exam_data = {'수학' :[90,80,70], '영어' : [98,89,95],
            '음악' : [85,95,100], '체육' : [100,90,90]}

df = pd.DataFrame(exam_data, index =['서준','우현','인아'])
print(df,"\n")

label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1,'\n')
print(position1,'\n')

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64

In [6]:
lable2 = df.loc[['서준','우현']]
position2 = df.iloc[[0,1]]
print(lable2,'\n')
print(position2,'\n')

label3 = df.loc['서준':'우현']
position3 = df.iloc[0:1]
print(label3, '\n')
print(position3)

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90

    수학  영어  음악   체육
서준  90  98  85  100

In [8]:
exam_data = {'이름' : ['서준','우현','인아'],
            '수학' : [90 , 80 , 70],
            '영어' : [98 , 89 , 95],
            '음악' : [ 85, 95 , 100],
            '체육' : [100,90,  90]}
df = pd.DataFrame(exam_data)
print(df,'\n')
print(type(df),'\n')

math1 = df['수학']
print(math1, '\n')
print(type(math1),'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

<class 'pandas.core.frame.DataFrame'>

0    90
1    80
2    70
Name: 수학, dtype: int64

<class 'pandas.core.series.Series'>

In [9]:
music_gym = df[['음악','체육']]
print(music_gym,'\n')
print(type(music_gym),'\n')

math2 = df[['수학']]
print(math2,'\n')
print(type(math2))

    음악   체육
0   85  100
1   95   90
2  100   90

<class 'pandas.core.frame.DataFrame'>

   수학
0  90
1  80
2  70

<class 'pandas.core.frame.DataFrame'>

In [10]:
exam_data = {'이름' : ['서준','우현','인아'],
            '수학' : [90 , 80 , 70],
            '영어' : [98 , 89 , 95],
            '음악' : [ 85, 95 , 100],
            '체육' : [100,90,  90]}
df = pd.DataFrame(exam_data)
print(df,'\n')

df.set_index('이름', inplace=True)
print(df,'\n')

a =df.loc['서준','음악']
print(a,'\n')
b = df.iloc[0,2]
print(b,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

85

85

In [12]:
c = df.loc['서준',['음악','체육']]
print(c,'\n')
d = df.iloc[0,[2,3]]
print(d,'\n')
e = df.loc['서준','음악':'체육']
print(e,'\n')
f = df.iloc[0,2:]
print(f,'\n')

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

음악     85
체육    100
Name: 서준, dtype: int64

In [16]:
g = df.loc[['서준', '우현'],['음악','체육']]
print(g,'\n')
h =df.iloc[[0,1],[2,3]]
print("df.iloc[[0,1],[2,3]]\n",h,'\n')
i = df.loc['서준':'우현','음악':'체육']
print("df.loc['서준':'우현', '음악':'체육']\n",i,'\n')
j = df.iloc[0:2,2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90

df.iloc[[0,1],[2,3]]
     음악   체육
이름
서준  85  100
우현  95   90

df.loc['서준':'우현', '음악':'체육']
     음악   체육
이름
서준  85  100
우현  95   90

    음악   체육
이름
서준  85  100
우현  95   90

In [18]:
df.loc[:,['음악','체육']]
print(df)
df.iloc[:,[2,3]]
df.iloc[:,2:4]

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

     음악   체육
이름
서준   85  100
우현   95   90
인아  100   90