In [1]:
import pandas as pd
#DataFrame() 함수로 데이터프레임 변환.변수 df에 저장

In [2]:

exam_data ={'이름' : [ '서준','우현','인아'],
           '수학' : [90,80,70],
           '영어' : [98,89,95],
           '음악' : [85,95,100],
           '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df,'\n')

#데이터프레임 df에 '국어' 점수 열을 추가.데이터 값은 80 지정
df['국어'] = 80
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육  국어
0  서준  90  98   85  100  80
1  우현  80  89   95   90  80
2  인아  70  95  100   90  80

In [4]:
exam_data ={'이름' : [ '서준','우현','인아'],
           '수학' : [90,80,70],
           '영어' : [98,89,95],
           '음악' : [85,95,100],
           '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df,'\n')
#새로운 행을 추가 - 같은 원소 값을 입력
df.loc[3] = 0
print(df,'\n')
# 새로운 행을 추가 - 원소 값 여러개의 배열 입력 
df.loc[4] = ['동규',90,80,70,60]
print(df,'\n')
#새로운 행을 추가 - 기존행을 복사
df.loc['행5'] = df.loc[3]
print(df)

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

In [5]:
exam_data ={'이름' : [ '서준','우현','인아'],
           '수학' : [90,80,70],
           '영어' : [98,89,95],
           '음악' : [85,95,100],
           '체육' : [100,90,90]}
df = pd.DataFrame(exam_data)
print(df,'\n')
#'이름' 열을 새로운 인덱스로 지정하고, df객체에 변경사항 반영
df.set_index('이름', inplace=True)
print(df,'\n')

#데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육'점수

df.iloc[0][3] = 80
print(df,'\n')

df.loc['서준']['체육'] = 90
print(df,'\n')

df.loc['서준','체육'] = 100
print(df,'\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90