In [2]:
import pandas as pd

In [4]:
dict_data = {'a':[1,3],'b':[2,3],'c':[3,3]}

In [6]:
sr =pd.Series(dict_data)

In [8]:
print(type(sr))
print('\n')

<class 'pandas.core.series.Series'>

In [10]:
print(sr)

a    [1, 3]
b    [2, 3]
c    [3, 3]
dtype: object

In [13]:
list_data = ['2021-05-19',3.14,'ABC',100,True]
sr = pd.Series(list_data)
print(sr,'\n')

0    2021-05-19
1          3.14
2           ABC
3           100
4          True
dtype: object

In [17]:
idx = sr.index
val = sr.values
print('sr.index:',idx,'\n')
print('sr.index type :',type(idx),'\n')
print('sr.values:',val)
print('sr.values type:',type(val))

sr.index: RangeIndex(start=0, stop=5, step=1)

sr.index type : <class 'pandas.core.indexes.range.RangeIndex'>

sr.values: ['2021-05-19' 3.14 'ABC' 100 True]
sr.values type: <class 'numpy.ndarray'>

In [19]:
tup_data = ('영인','2010-05-01','여',True)
sr = pd.Series(tup_data,index = ['이름','생년월일','성별','학생여부'])
print(sr,'\n')
print(sr[0],'\n')
print(sr['이름'])

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

영인

영인

In [21]:
print(sr[[1,2]],'\n')
print(sr[['생년월일','성별']],'\n')
print(sr[1:2],'\n')
print(sr['생년월일':'성별'])

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

생년월일    2010-05-01
dtype: object

생년월일    2010-05-01
성별               여
dtype: object

In [23]:
a =range(1,7)
print(a)
for i in a:
    print(i)

range(1, 7)
1
2
3
4
5
6

In [24]:
test = sr['생년월일' : '성별']
print(test)
type(test)

생년월일    2010-05-01
성별               여
dtype: object

pandas.core.series.Series

In [27]:
dict_data = {'c0':[1,2,3],'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df=pd.DataFrame(dict_data)
print(type(df),'\n')
print(df)

<class 'pandas.core.frame.DataFrame'>

   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [29]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리']],
                 index = ['준서','예은'],
                 columns = ['나이','성별','학교'])
print(df,"\n")
print(df.index,'\n')
print(df.columns,'\n')

df.index=['학생1','학생2']
df.columns =['연령','남녀','소속']

print(df,'\n')
print(df.index,'\n')
print(df.columns,'\n')

    나이 성별   학교
준서  15  남  덕영중
예은  17  여   수리

Index(['준서', '예은'], dtype='object')

Index(['나이', '성별', '학교'], dtype='object')

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여   수리

Index(['학생1', '학생2'], dtype='object')

Index(['연령', '남녀', '소속'], dtype='object')

In [33]:
df = pd.DataFrame([[15,'남','덕영중'],[17,'여','수리']],
                 index = ['준서','예은'],
                 columns = ['나이','성별','학교'])


print(df,'\n')

redf =df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'})
df.rename(index={'준서':'학생1','예은':'학생2'})

print(redf)
print(df)

df.rename(columns={'나이':'연령','성별':'남녀','학교':'소속'},inplace =True)
df.rename(index = {'준서':'학생1', '예은':'학생2'}, inplace=True)

print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여   수리

    연령 남녀   소속
준서  15  남  덕영중
예은  17  여   수리
    나이 성별   학교
준서  15  남  덕영중
예은  17  여   수리
     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여   수리