In [2]:
import pandas as pd

In [12]:
sawonDB = pd.read_csv('./data/sawonDB.csv',header=None)
sawonDB.columns = ['sabun','saname','detpno','sajob','sapay','sahire',
                  'sasex','samgr']
sawonDB =sawonDB.replace("'","",regex = True)

In [13]:
q7_com_30 = sawonDB[sawonDB['detpno'] == 30]
print('전산부 직원의 평균 연봉 :',q7_com_30['sapay'].mean())

전산부 직원의 평균 연봉 : 1959.7142857142858