In [7]:
import pandas as pd
sawonDB = pd.read_csv('./data/sawonDB.csv',header=None)
sawonDB.columns = ['sabun','saname','detpno','sajob','sapay','sahire',
                  'sasex','samgr']
sawonDB =sawonDB.replace("'","",regex = True)

In [8]:
sajobChk = sawonDB[(sawonDB['sajob'] == ' 대리')| (sawonDB['sajob'] =='사원')]
sajobChk

    sabun saname  detpno sajob  sapay       sahire sasex samgr
12      8    채송화      30    대리   1703   1992/06/01    여자    17
13      4    이미라      30    대리   2503   1983/04/01    여자    17
15     12    뷰명한      10    대리   1800   1990/10/01    남자    20