In [21]:
import pandas as pd

In [22]:
deptDB = pd.read_csv('./data/deptDB.csv',header= None)
sawonDB = pd.read_csv('./data/sawonDB.csv',header=None)
gogekDB = pd.read_csv('./data/gogekDB.csv',header =None)

deptDB.columns = ['deptno','dname','loc']

sawonDB.columns = ['subun','saname','depno','sajob','sapay','sahire',
                  'sasex','samgr']

gogekDB.columns = ['gobun','goname','gotel','gojumin','godam']

deptDB = deptDB.replace("'","",regex =True)
sawonDB =sawonDB.replace("'","",regex = True)
gogekDB = gogekDB.replace("'","",regex =True)

In [28]:
sawonDB1.head(1)

   subun saname  depno sajob  sapay       sahire sasex  samgr
0      1    홍길동     10    회장   5000   1980/01/01    남자   null

In [29]:
sawonDB1 = sawonDB[:]
sawonDB1['saname']=sawonDB1['saname'].str.strip()
sawonDB1['sajob']=sawonDB1['sajob'].str.strip()
sawonDB1['sahire']=sawonDB1['sahire'].str.strip()
sawonDB1['sasex']=sawonDB1['sasex'].str.strip()

In [24]:
print(deptDB)
print(sawonDB)
print(gogekDB)

   deptno dname  loc
0      10   총무부   서울
1      20   영업부   대전
2      30   전산부   부산
3      40   관리부   광주
    subun saname  depno sajob  sapay       sahire sasex  samgr
0       1    홍길동     10    회장   5000   1980/01/01    남자   null
1       2    한국남     20    부장   3000   1988/11/01    남자      1
2       3    이순신     20    과장   3500   1985/03/01    남자      2
3       5    이순라     20    사원   1200   1990/05/01    여자      3
4       7    놀기만     20    과장   2300   1996/06/01    여자      2
5      11    뷰별나     20    과장   1600   1989/12/01    여자      2
6      14    채시라     20    사원   3400   1993/10/01    여자      3
7      17    이성계     30    부장   2803   1984/05/01    남자      1
8      13    무궁화     10    부장   3000   1996/11/01    여자      1
9      19    임꺽정     20    사원   2200   1988/04/01    남자      7
10     20    깨똥이     10    과장   4500   1990/05/01    남자     13
11      6    공부만     30    과장   4003   1995/05/01    남자     17
12      8    채송화     30    대리   1703   1992/06/01    여자     17
13      4    이미라     30    대리   2503   1983/04/01    여자     17
14     10    공부해     30    사원   1303   1988/11/01    남자      4
15     12    뷰명한     10    대리   1800   1990/10/01    남자     20
16      9    무궁화     10    사원   1100   1984/08/01    여자     12
17     15    최진실     10    사원   2000   1991/04/01    여자     12
18     16    김유신     30    사원    400   1981/04/01    남자      4
19     18    강감찬     30    사원   1003   1986/07/01    남자      4
   gobun goname      gotel         gojumin  godam
0      1     뷰민   123-1234  700113-1537915    3.0
1      2     강민  1343-1455  690216-1627914    2.0
2      3     영희   144-1655  750320-2636215    NaN
3      4     철이   673-1674  770430-1234567    4.0
4      5     뷰완   123-1674  720521-1123675    3.0
5      6     캔디   673-1764  650725-2534566    NaN
6      7     똘이   176-7677  630608-1648614    7.0
7      8     쇠돌   673-6774  800804-1346574    9.0
8      9     홍이   767-1234  731225-1234689   13.0
9     10     안나   767-1677  751015-2432168    4.0