In [9]:
import pandas as pd

In [25]:
deptDB = pd.read_csv('./data/deptDB.csv',names =['deptno','dname','loc'],header=None)
sawonDB = pd.read_csv('./data/sawonDB.csv',\
                          names =['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)
gogekDB = pd.read_csv('./data/gogekDB.csv',\
                          names =['gobun','goname','gotel','gojumin','godam'],header=None)
deptSawon = deptDB.merge(sawonDB,how='inner',on ='deptno')

In [36]:
#q7_com_30 = deptSawon[deptSawon['dname'] =='전산부']
deptSawon = deptDB.merge(sawonDB,how='inner',on ='deptno') 
a= deptSawon[deptSawon['dname'] == ' \'전산부\''] 
print("전산부 직원의 평균 연봉 :",a['sapay'].mean())

전산부 직원의 평균 연봉 : 1959.7142857142858

In [ ]:
 '전산부'