In [1]:
import pandas as pd
import numpy as np

In [3]:
s = pd.Series(['1.Ant ','2.Bee!\n', '3.cat?\t',np.nan])
s

0      1.Ant
1    2.Bee!\n
2    3.cat?\t
3         NaN
dtype: object

In [5]:
s.str.strip()

0     1.Ant
1    2.Bee!
2    3.cat?
3       NaN
dtype: object

In [7]:
s.str.strip('.')

0      1.Ant
1    2.Bee!\n
2    3.cat?\t
3         NaN
dtype: object

In [9]:
s.str.strip('123.!? \n\t')

0    Ant
1    Bee
2    cat
3    NaN
dtype: object

In [11]:
s.str.lstrip('123.')

0      Ant
1    Bee!\n
2    cat?\t
3       NaN
dtype: object

In [12]:
s.str.rstrip('.!? \n\t')

0    1.Ant
1    2.Bee
2    3.cat
3      NaN
dtype: object