In [2]:
import pandas as pd
sawonDB = pd.read_csv('./data/sawonDB.csv',\
                          names =['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)

In [5]:
q2_lst04 =[]
for idx in range(len(sawonDB)):
    q2_lst04.append(sawonDB['sahire'].str.strip()[idx][6:8] == '04')
sawonDB.loc[q2_lst04]

    sabun  saname  deptno  sajob  sapay         sahire  sasex samgr
9      19   '임꺽정'      20   '사원'   2200   '1988/04/01'   '남자'     7
13      4   '이미라'      30   '대리'   2503   '1983/04/01'   '여자'    17
17     15   '최진실'      10   '사원'   2000   '1991/04/01'   '여자'    12
18     16   '김유신'      30   '사원'    400   '1981/04/01'   '남자'     4