In [9]:
import pandas as pd
sawonDB = pd.read_csv('./data/sawonDB.csv',header=None)
sawonDB.columns = ['sabun','saname','detpno','sajob','sapay','sahire',
                  'sasex','samgr']
sawonDB =sawonDB.replace("'","",regex = True)

In [22]:
sajobChk = sawonDB[(sawonDB['sajob'] == ' 대리')| (sawonDB['sajob'] ==' 사원')]
sajobChk

    sabun saname  detpno sajob  sapay       sahire sasex samgr
3       5    이순라      20    사원   1200   1990/05/01    여자     3
6      14    채시라      20    사원   3400   1993/10/01    여자     3
9      19    임꺽정      20    사원   2200   1988/04/01    남자     7
12      8    채송화      30    대리   1703   1992/06/01    여자    17
13      4    이미라      30    대리   2503   1983/04/01    여자    17
14     10    공부해      30    사원   1303   1988/11/01    남자     4
15     12    뷰명한      10    대리   1800   1990/10/01    남자    20
16      9    무궁화      10    사원   1100   1984/08/01    여자    12
17     15    최진실      10    사원   2000   1991/04/01    여자    12
18     16    김유신      30    사원    400   1981/04/01    남자     4
19     18    강감찬      30    사원   1003   1986/07/01    남자     4

In [25]:
#sawonDB[sawonDB['sajob'] == '대리' | sawonDB['sajob'] == '사원']
sawonDB[sawonDB['sajob'].isin(['대리','사원'])]

Empty DataFrame
Columns: [sabun, saname, detpno, sajob, sapay, sahire, sasex, samgr]
Index: []

In [15]:
sajobChk.groupby(['sajob'])['sabun'].count()

sajob
 대리    3
 사원    8
Name: sabun, dtype: int64

In [17]:
sajobChk.groupby(['sajob'])['sabun'].count() >=4

sajob
 대리    False
 사원     True
Name: sabun, dtype: bool

In [19]:
sajobCntChk = (sajobChk.groupby(['sajob'])['sabun'].count() >=4)
sajobCntChk

sajob
 대리    False
 사원     True
Name: sabun, dtype: bool

In [20]:
sajobChkResult = sajobCntChk[sajobCntChk.values]
sajobChkResult

sajob
 사원    True
Name: sabun, dtype: bool

In [21]:
sajobChk = sawonDB[:][(sawonDB['sajob'] =='대리') |(sawonDB['sajob']== '사원')]
sajobCntChk = sajobChk.groupby(['sajob'])['sabun'].count() >=4

sajobChkResult = sajobCntChk[sajobCntChk.values]

for i, value in enumerate(sajobChkResult.index):
    cal = sawonDB[sawonDB['sajob'] == value]
    print(cal.groupby('sajob')['sapay'].mean())