In [15]:
import pandas as pd
sawonDB = pd.read_csv('./data/sawonDB.csv',\
                          names =['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)

In [27]:
q1_lst88 = []
for idx in range(len(sawonDB)):
    q1_lst88.append(sawonDB['sahire'].str.strip()[idx][1:5] == '1988')

print()

sawonDB.loc[q1_lst88]

    sabun  saname  deptno  sajob  sapay         sahire  sasex samgr
1       2   '한국남'      20   '부장'   3000   '1988/11/01'   '남자'     1
9      19   '임꺽정'      20   '사원'   2200   '1988/04/01'   '남자'     7
14     10   '공부해'      30   '사원'   1303   '1988/11/01'   '남자'     4