In [2]:
import pandas as pd

In [8]:
sawonDB = pd.read_csv('./data/sawonDB.csv',header=None)
sawonDB.columns = ['sabun','saname','depno','sajob','sapay','sahire',
                  'sasex','samgr']
sawonDB =sawonDB.replace("'","",regex = True)

In [6]:
sawon_1998 = sawonDB[sawonDB['sahire'].str.contains('1988')]
print(sawon_1998)

    subun saname  depno sajob  sapay       sahire sasex samgr
1       2    한국남     20    부장   3000   1988/11/01    남자     1
9      19    임꺽정     20    사원   2200   1988/04/01    남자     7
14     10    공부해     30    사원   1303   1988/11/01    남자     4

In [7]:
sawon_april = sawonDB[sawonDB['sahire'].str.contains('/04/')]
print(sawon_april)

    subun saname  depno sajob  sapay       sahire sasex samgr
9      19    임꺽정     20    사원   2200   1988/04/01    남자     7
13      4    이미라     30    대리   2503   1983/04/01    여자    17
17     15    최진실     10    사원   2000   1991/04/01    여자    12
18     16    김유신     30    사원    400   1981/04/01    남자     4

In [10]:
#for in list
#for in range
#for in enumerate : 인덱스 값을 포함하는 enumerate 객체를 리턴
# 

slist=[]
for i, value in enumerate(sawonDB['sabun']):
    if value % 2 == 0:
        slist.append(i)
print(sawonDB.iloc[slist])

    sabun saname  depno sajob  sapay       sahire sasex samgr
1       2    한국남     20    부장   3000   1988/11/01    남자     1
6      14    채시라     20    사원   3400   1993/10/01    여자     3
10     20    깨똥이     10    과장   4500   1990/05/01    남자    13
11      6    공부만     30    과장   4003   1995/05/01    남자    17
12      8    채송화     30    대리   1703   1992/06/01    여자    17
13      4    이미라     30    대리   2503   1983/04/01    여자    17
14     10    공부해     30    사원   1303   1988/11/01    남자     4
15     12    뷰명한     10    대리   1800   1990/10/01    남자    20
18     16    김유신     30    사원    400   1981/04/01    남자     4
19     18    강감찬     30    사원   1003   1986/07/01    남자     4