In [4]:
import pandas as pd

In [10]:
df1 = pd.DataFrame({'a': ['foo','bar'], 'b':[1,2] })
df2 = pd.DataFrame({'a' :['foo','baz'], 'c' : [3,4]})
df1

     a  b
0  foo  1
1  bar  2

In [12]:
df2

     a  c
0  foo  3
1  baz  4

In [14]:
df1.merge(df2, how = 'inner', on ='a')

     a  b  c
0  foo  1  3

In [16]:
df1.merge(df2, how ='left', on ='a')

     a  b    c
0  foo  1  3.0
1  bar  2  NaN

In [17]:
df1.merge(df2,how ='right',on ='a')

     a    b  c
0  foo  1.0  3
1  baz  NaN  4